.App {
  text-align: center;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

input {
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: skyblue;
  color: black;
  border: none;
  border-radius: 7px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.save-todo-button {
  width: 50px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
  background-color: skyblue;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.save-todo-button:active {
  background-color: black;
  color: white;
}
